.load{
    width: 100%;
    padding: 5px;
    color: white;
    background-color:#FF9999;
    border: none;
    box-shadow: inset 2px 1px 15px 5px rgba(0,0,0,0.41);
    cursor: pointer;
}
.load:hover{
    box-shadow: none;
}
.load:disabled{
    cursor:not-allowed;
    background-color: #888;
}